body{
  background-color: rgb(30,31,33);
}

.opening-message{
    color: white;
    margin-left: -10px;
    margin-top:100px;
    text-align: center;
}

.gradient-text {
    font-size: 4rem;
    font-weight: bold;
    margin: 5px;
    background: linear-gradient(
      to right,
      #7953cd 20%,
      #00affa 30%,
      #0190cd 70%,
      #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
  }

  @keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
.Contract-Review{
     
    margin-top: 50px;
    background-color: rgb(102,249,219);
    height: 50px;
    border-radius: 2px;
}

.cta {
    display: flex;
    gap: 10px;
    margin-left: 700px;

     
  }

  
  